.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login form {
    width: 400px;
    margin: 20px;
}

.login form .card {
    margin-top : 10px;
}

.login form .header {
    text-align: center;
    background : var(--color-primary);
    color: var(--color-title-in-primary);
}

.login form .login-button {
    margin-top : 2px;
    flex-grow: 1;
}

@media(max-width : 400px) {
    .login form {
        width: 100%;
    }
}



