.logo-mobile {
  width: 115px;
}

.logo {
  margin-right: 15px;
  width: 140px;
}

.options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: auto;
}

footer {
  position: absolute;
  bottom: 0;
  margin: 1rem;
  font: 600 0.85rem Archivo;
}
